*{
	margin: 0;
	padding: 0;
}

h2{
	padding: 20px;
	background: #333;
	color: white;
}

.navbar {
	position: fixed;
}

p {
	font-size: 20px;
	font-family: "Comic Sans MS";
    text-indent: 40px;
	line-height: 40px;
	background-color: #ccffcc;
}

.first-letter {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: algerian, courier;
    line-height: 80%;
}

.img-right {
	float: right;
    margin: 15px;
    border: 5px solid #333;
}

.img-left {
	float: left;
	margin: 15px;
	border: 5px solid #333;
}

.award-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.award-table td, .award-table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.award-table tr:nth-child(even) {
	background-color: #333;
	color: white;
}

.award-table tr:hover {
	background-color: #009973;
}

.award-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #255;
    color: white;
}

.wiki-info {
	text-align: center;
	text-decoration: none;
	background: skyblue;
	font-size: 38px;
	padding: 20px;
}